.agree {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 20px 40px 40px 40px;
  background-color: #f8f8f8;

  .agree--title {
    line-height: 66px;
    font-size: 66px;
    color: #303030;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .agree--p {
    margin: 12px 0;
    text-indent: 64px;
    font-size: 34px;
    color: #303030;
    line-height: 1.4rem;
  }

  .agree--h {
    margin: 20px 0;
    font-size: 40px;
    color: #303030;
    font-weight: 700;
  }
}
