.im__list {
  display         : flex;
  flex-direction  : column;
  min-height      : 100vh;
  box-sizing      : border-box;
  padding         : 20px 40px 40px 40px;
  background-color: #f8f8f8;

  .im-item {
    width        : 100%;
    background   : #fff;
    border-radius: 12px;
    padding      : 28px 20px;
    margin-bottom: 32px;
    box-sizing   : border-box;
    display      : flex;
    align-items  : center;

    .avatar {
      max-width    : 88px;
      max-height   : 88px;
      border-radius: 50%;
      margin-right : 20px;
    }

    .message {
      width        : fit-content;
      overflow     : hidden;
      font-size    : 32px;
      color        : #303030;
      white-space  : nowrap;
      text-overflow: ellipsis;
    }
  }
}